body{
    display: flex;
    flex-direction: column;
    background-image: url(images/29914.jpg);
}

.quoteBox{
    
    text-align: center;
    font-family:'Star Jedi', arial; 
    font-size: 48px;
        text-shadow: 4px 4px 4px #aaa;

}

div{
    margin:auto;
    width:80%;
    height: 160px;
    border: 3px solid black;
    border-radius: 20%;
    background-color: whitesmoke;
}

.btn {box-shadow: 2px 24px 27px -7px #276873;
	background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
	background-color:#599bb3;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:22px;
	font-weight:bold;
	padding:16px 46px;
	text-decoration:none;
	text-shadow:0px 5px 0px #3d768a;
}
.btn:hover {
	background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
	background-color:#408c99;
}
.btn:active {
	position:relative;
	top:1px;
}

.space-invader {
    box-shadow: 0 0 0 1em red,
    0 1em 0 1em red,
    -2.5em 1.5em 0 .5em red,
    2.5em 1.5em 0 .5em red,
    -3em -3em 0 0 red,
    3em -3em 0 0 red,
    -2em -2em 0 0 red,
    2em -2em 0 0 red,
    -3em -1em 0 0 red,
    -2em -1em 0 0 red,
    2em -1em 0 0 red,
    3em -1em 0 0 red,
    -4em 0 0 0 red,
    -3em 0 0 0 red,
    3em 0 0 0 red,
    4em 0 0 0 red,
    -5em 1em 0 0 red,
    -4em 1em 0 0 red,
    4em 1em 0 0 red,
    5em 1em 0 0 red,
    -5em 2em 0 0 red,
    5em 2em 0 0 red,
    -5em 3em 0 0 red,
    -3em 3em 0 0 red,
    3em 3em 0 0 red,
    5em 3em 0 0 red,
    -2em 4em 0 0 red,
    -1em 4em 0 0 red,
    1em 4em 0 0 red,
    2em 4em 0 0 red;
    background: red;
    width: 1em;
    height: 1em;
    overflow: hidden;
    margin: 50px 0 70px 65px;

    position: relative;
    animation-name:myanimation;
    animation-duration:6s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
  }

  @keyframes myanimation{
    0%{background-color: whitesmoke;left: 0px; top:0px; border-radius:0 0 0 0;}
    25%{background-color: tomato;left:90%;top:0px;border-radius:50% 0 0 0;}
    50%{background-color: green;left:90%; top:300px;border-radius:50% 50% 0 0;}
    75%{background-color: blueviolet;left:0px; top:300px;border-radius:50% 50% 50% 0;}
    100%{background-color: thistle;left: 0px; top:0px;border-radius:50% 50% 50% 50%;}
}